{% extends 'base.html' %}

{% block title %} 
Home
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <!-- Определяет количество фото в карусели -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
    </div>
    <!-- Характеристики фото-->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/bimg/007-bern-zenen.jpg" class="d-block w-100" alt="1">
      </div>
      <div class="carousel-item">
        <img src="/static/bimg/002-akita.jpg" class="d-block w-100" alt="2">
      </div>
      <div class="carousel-item">
        <img src="/static/bimg/003-haski.jpg" class="d-block w-100" alt="3 ав">
      </div>
      <div class="carousel-item">
        <img src="/static/bimg/004-bulli.jpeg" class="d-block w-100" alt="3 ав">
      </div>
      <div class="carousel-item">
        <img src="/static/bimg/005-Cocker-Américain.jpeg" class="d-block w-100" alt="3 ав">
      </div>
      <div class="carousel-item">
        <img src="/static/bimg/006-belg-ovtscharka.jpg" class="d-block w-100" alt="3 ав">
      </div>
      <div class="carousel-item">
        <img src="/static/bimg/001-avstral.jpg" class="d-block w-100" alt="3 ав">
      </div>
    </div>
      <!--Управляющие элементы карусели -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
{% endblock %}